# Database
DATABASE_URL="postgresql://usuario:password@localhost:5432/midatopay"

# JWT
JWT_SECRET="tu_jwt_secret_super_seguro_aqui"
JWT_EXPIRES_IN="7d"

# Server
PORT=3001
NODE_ENV="development"

# Frontend URL
FRONTEND_URL=http://localhost:3000

# Avalanche Configuration
AVALANCHE_RPC_URL="https://api.avax.network/ext/bc/C/rpc"
AVALANCHE_ORACLE_ADDRESS="0xC27bCdA1f664283f9A6B7032687F0b763A7fa965"
AVALANCHE_PAYMENT_GATEWAY_ADDRESS="0x2CfA7b57c3A24E330b0C387C32E7460215AfAe5E"
AVALANCHE_USDC_ADDRESS="0xc926ace38E79e987fbC8CF142157A7C16DE2a6E1"
AVALANCHE_ADMIN_PRIVATE_KEY="tu_private_key_del_admin_aqui"

# Blockchain
USDC_DECIMALS=6

# WebSocket
WS_PORT=3002

# Rate Limiting
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=100

# Email Configuration (Resend)
# Obtén tu API key en: https://resend.com/api-keys
RESEND_API_KEY=re_dSLFjimD_Fm1okaS4tUMyMeBvRfE3Uq2m


# Clerk Authentication
# Obtén tus credenciales en: https://dashboard.clerk.com
CLERK_SECRET_KEY=sk_test_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
CLERK_PUBLISHABLE_KEY=pk_test_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
CLERK_JWKS_URL=https://sound-thrush-66.clerk.accounts.dev/.well-known/jwks.json